.sp-main-wrapper article,
.sp-main-wrapper aside,
.sp-main-wrapper details,
.sp-main-wrapper figcaption,
.sp-main-wrapper figure,
.sp-main-wrapper footer,
.sp-main-wrapper header,
.sp-main-wrapper hgroup,
.sp-main-wrapper menu,
.sp-main-wrapper nav,
.sp-main-wrapper section {
    display: block;
}

.sp-main-wrapper blockquote,
.sp-main-wrapper q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
}

.sp-main-wrapper table {
    border-collapse: collapse;
    border-spacing: 0;
}

.sp-main-wrapper *,
.sp-main-wrapper *:before,
.sp-main-wrapper *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.sp-main-wrapper *:focus {
    outline: none;
}

.sp-main-wrapper html,
.sp-main-wrapper body,
.sp-main-wrapper div,
.sp-main-wrapper span,
.sp-main-wrapper applet,
.sp-main-wrapper object,
.sp-main-wrapper iframe,
.sp-main-wrapper h1,
.sp-main-wrapper h2,
.sp-main-wrapper h3,
.sp-main-wrapper h4,
.sp-main-wrapper h5,
.sp-main-wrapper h6,
.sp-main-wrapper p,
.sp-main-wrapper pre,
.sp-main-wrapper a,
.sp-main-wrapper abbr,
.sp-main-wrapper acronym,
.sp-main-wrapper address,
.sp-main-wrapper big,
.sp-main-wrapper cite,
.sp-main-wrapper code,
.sp-main-wrapper del,
.sp-main-wrapper dfn,
.sp-main-wrapper img,
.sp-main-wrapper ins,
.sp-main-wrapper kbd,
.sp-main-wrapper q,
.sp-main-wrapper s,
.sp-main-wrapper samp,
.sp-main-wrapper var,
.sp-main-wrapper b,
.sp-main-wrapper u,
.sp-main-wrapper i,
.sp-main-wrapper center,
.sp-main-wrapper dl,
.sp-main-wrapper dt,
.sp-main-wrapper dd,
.sp-main-wrapper ol,
.sp-main-wrapper ul,
.sp-main-wrapper li,
.sp-main-wrapper fieldset,
.sp-main-wrapper form,
.sp-main-wrapper label,
.sp-main-wrapper legend,
.sp-main-wrapper table,
.sp-main-wrapper caption,
.sp-main-wrapper tbody,
.sp-main-wrapper tfoot,
.sp-main-wrapper thead,
.sp-main-wrapper tr,
.sp-main-wrapper th,
.sp-main-wrapper td,
.sp-main-wrapper article,
.sp-main-wrapper aside,
.sp-main-wrapper canvas,
.sp-main-wrapper details,
.sp-main-wrapper embed,
.sp-main-wrapper figure,
.sp-main-wrapper figcaption,
.sp-main-wrapper footer,
.sp-main-wrapper header,
.sp-main-wrapper hgroup,
.sp-main-wrapper menu,
.sp-main-wrapper nav,
.sp-main-wrapper output,
.sp-main-wrapper ruby,
.sp-main-wrapper section,
.sp-main-wrapper summary,
.sp-main-wrapper time,
.sp-main-wrapper mark,
.sp-main-wrapper audio,
.sp-main-wrapper video {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.sp-main-wrapper img,
.sp-main-wrapper svg {
    display: block;
    max-width: 100%;
}

.sp-container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: block;
    padding: 0 15px;
}

.sp-doc-body {
    overflow-x: hidden;
    font-size: 14px;
    padding: 0;
    margin: 0;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}

.sp-detail-box {
    position: relative;
    padding: 15px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-top: unset;
}

.sp-detail-box input {
    opacity: 0;
    position: absolute;
    left: 0;
    width: 100%;
    height: 25px;
    cursor: pointer;
    z-index: 1;
}

.sp-detail-wrap h2 {
    font-size: 16px;
    position: relative;
}

.sp-detail-wrap h2:after,
.sp-detail-wrap h2:before,
.sp-inner-accordian .sp-inner-accordian-wrap h4:after,
.sp-inner-accordian .sp-inner-accordian-wrap h4:before {
    display: block;
    position: absolute;
    right: 0;
    top: 12px;
    height: 1px;
    width: 9px;
    background-color: #000000;
    transition: all ease-in-out 0.3s;
}

.sp-inner-accordian .sp-inner-accordian-wrap h4:after,
.sp-inner-accordian .sp-inner-accordian-wrap h4:before {
    top: 10px;
}

.sp-detail-box .sp-detail-drop-btn:checked~.sp-detail-wrap h2:before,
.sp-inner-accordian .sp-inner-accordian-check:checked~.sp-inner-accordian-wrap h4:before {
    transform: rotate(0);
}

.sp-detail-box .sp-detail-wrap .sp-detail-wrap-inner,
.sp-detail-box .sp-detail-wrap .sp-detail-wrap-inner .sp-inner-accordian-detail {
    overflow: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    padding: 0 10px;
}

.sp-detail-box .sp-detail-wrap .sp-detail-wrap-inner .sp-detail-wrap-inner-content,
.sp-detail-box .sp-detail-wrap .sp-detail-wrap-inner .sp-inner-accordian-detail-content {
    padding: 15px 0 10px 0;
}

.sp-detail-box .sp-detail-drop-btn:checked~.sp-detail-wrap .sp-detail-wrap-inner,
.sp-detail-box .sp-inner-accordian-check:checked~.sp-inner-accordian-wrap .sp-inner-accordian-detail {
    max-height: 10000px;
    transition: max-height 1s ease-in-out;
    opacity: 1;
}

.sp-detail-box .sp-detail-wrap-inner ul {
    list-style: unset;
    counter-reset: step-count;
    margin-left: 10px;
    padding: 0 0;
}

.sp-detail-box .sp-detail-wrap-inner ul li {
    counter-increment: step-count;
    list-style: none;
    padding-left: 20px;
    position: relative;
}

.sp-detail-box .sp-detail-wrap-inner ul li:before {
    content: counter(step-count);
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
}

.sp-detail-wrap .sp-detail-wrap-inner p, .sp-detail-wrap .sp-detail-wrap-inner h4 {
    padding-bottom: 10px;
}

.sp-detail-wrap .sp-detail-wrap-inner img {
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0 0 10px 5px #b5b4b4;
    max-width: 100%;
}

.sp-detail-box .sp-detail-wrap-inner ul.sp-inner-ul {
    counter-reset: unset;
    padding-top: 0;
}

.sp-detail-box .sp-detail-wrap-inner ul.sp-inner-ul li {
    counter-increment: unset;
}

.sp-detail-box .sp-detail-wrap-inner ul.sp-inner-ul li:before {
    content: '-';
}

.sp-inner-accordian .sp-inner-accordian-wrap h4 {
    position: relative;
}

.sp-inner-accordian .sp-inner-accordian-inner {
    position: relative;
}

.sp-detail-wrap .sp-detail-wrap-inner .sp-inner-accordian {
    padding-bottom: 10px;
    border-top: solid 1px rgba(0, 0, 0, 0.1);
}

.sp-detail-wrap .sp-detail-wrap-inner .sp-inner-accordian .sp-inner-accordian-inner {
    padding: 15px;
    border: solid 1px rgba(0, 0, 0, 0.1);
    border-top: unset;
}

.sp-divide-sec {
    margin-top: 20px !important;
    font-size: 1.3rem;
}

.sp-detail-wrap .sp-main-menu {
    background-color: #b5b4b48a;
    padding: 10px;
    text-align: center;
}
